# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.dist/
.build/
.venv/
.uv/
.ipynb_checkpoints/

# =========================
# Large numerical artifacts
# =========================
*.npy
*.npz

# =========================
# Generated outputs
# =========================
outputs/
**/outputs/
force_fine/
force_coarse/

# =========================
# Data (ignore heavy raw data)
# =========================
data/*
!data/demo/
!data/demo/**
data/force_coarse/
data/force_fine/
data/potentials/

*.npy

# =========================
# macOS
# =========================
.DS_Store