__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.dist/
.build/
.venv/
.uv/
.ipynb_checkpoints/
*.npy
*.npz
outputs/
**/outputs/
force_fine/
force_coarse/
data/force_coarse/
data/force_fine/
data/potentials/
*.npy
.DS_Store
*.nbi
*.nbc

